@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amiri:ital@1&family=Permanent+Marker&family=Volkhov&display=swap');
.awal span{
  color: red !important;
  font-size: xx-large;
  font-family: 'Acme', sans-serif;
}
*{
  text-align: center;
  background-color:darkgrey;
}
.judul{
  background-color: darkslategray;
}